.date-field {
    position: relative;
    z-index: 1;
}

.date-field-addon {
    padding-right: 0.5rem;
    color: var(--button-primary-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.date-field-datepicker {
    position: absolute;
    right: 0;
}

.date-field-datepicker--top {
    top: -0.5625rem;
    transform: translateY(-100%);
}

.date-field-datepicker--bottom {
    bottom: -0.5625rem;
    transform: translateY(100%);
}
