.restore-password-container,
.restore-password-container-layout,
.restore-password-container-hero,
.restore-password-container-form {
    flex: 1 1 0%;
    box-sizing: border-box;
}

.restore-password-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--sign-pages-bg-color);
}

.restore-password-container-layout {
    display: flex;
    flex-direction: row-reverse;
    margin-right: auto;
    margin-left: auto;
    padding: 5.75rem 2rem 0;
    max-width: 86rem;
}

.restore-password-container-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1.5rem;
}

.restore-password-container-form {
    margin-right: 3rem;
    margin-left: 7rem;
    max-width: 33rem;
}

.logo--restore-password {
    margin-bottom: 8.25rem;
}

@media (max-width: 1359px) {
    .restore-password-container-form {
        margin-left: 0;
    }
}

@media (max-width: 1023px) {
    .restore-password-container-layout {
        align-items: center;
        justify-content: center;
        padding: 0;
        min-height: 100vh;
    }

    .restore-password-container-hero {
        display: none;
    }

    .restore-password-container-form {
        margin: 0;
        padding: 0 1rem;
        text-align: center;
    }

    .logo--restore-password {
        margin-bottom: 3.5rem;
    }
}

/*.restore-password-container,*/
/*.restore-password-container-layout,*/
/*.restore-password-container-hero,*/
/*.restore-password-container-form {*/
/*flex: 1 1 0%;*/
/*box-sizing: border-box;*/
/*}*/

/*.restore-password-container {*/
/*margin: 0;*/
/*padding: 0;*/
/*min-height: 100vh;*/
/*background: var(--sign-pages-bg-color);*/
/*}*/

/*.restore-password-container-layout {*/
/*padding: 5.75rem 1rem 1rem;*/
/*}*/

/*.restore-password-container-hero {*/
/*display: flex;*/
/*align-items: center;*/
/*flex-direction: column;*/
/*}*/

/*.logo--restore-password {*/
/*margin-bottom: 3.5rem;*/
/*}*/

/*.illustration--restore-password {*/
/*display: none;*/
/*}*/

/*@media (min-width: 768px) {*/
/*.restore-password-container-layout {*/
/*padding-right: 2rem;*/
/*padding-left: 2rem;*/
/*}*/
/*}*/

/*@media (min-width: 1024px) {*/
/*.restore-password-container-layout {*/
/*display: flex;*/
/*flex-direction: row-reverse;*/
/*margin-right: auto;*/
/*margin-left: auto;*/
/*padding-right: 2rem;*/
/*padding-left: 2rem;*/
/*max-width: 86rem;*/
/*}*/

/*.restore-password-container-form {*/
/*margin-right: 3rem;*/
/*max-width: 33rem;*/
/*}*/

/*.logo--restore-password {*/
/*margin-bottom: 8.25rem;*/
/*}*/

/*.restore-password-container-hero {*/
/*padding-top: 1.5rem;*/
/*}*/

/*.illustration--restore-password {*/
/*display: block;*/
/*}*/
/*}*/

/*@media (min-width: 1360px) {*/
/*.restore-password-container-form {*/
/*margin-left: 7rem;*/
/*}*/
/*}*/
