.overview-navigation-cards {
    display: flex;
    justify-content: center;
}

.overview-navigation-cards .nav-card-container {
    margin: 1rem;
    flex-basis: calc(33% - 2rem);
    max-width: calc(33% - 2rem);
}
