.my-documents-page {
    padding: var(--page-paddings);
}

.my-documents-page > h1 {
    margin: 0 0 1em 0;
    padding: 0;
    color: black;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .my-documents-page > h1 {
        font-size: 1.375rem;
    }
}
