.button {
    margin: 0;
    padding: 0;
    min-width: 18.125rem;
    height: 3.5rem;
    border: none;
    border-radius: 0.25rem;
    background: #40c56a;
    color: #fff;
    text-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 1.125rem;
    cursor: pointer;

    appearance: none;
}
