.captcha {
    position: relative;
    font-size: 1rem;
}

.captcha-error {
    display: block;
    margin-bottom: 0.333em;
    color: var(--error-text-color);
    font-weight: 700;
    font-size: 0.75em;
    line-height: 1.4;
}
