.producer-page-info-container {
    padding: var(--page-paddings);
    background: white;
}

.producer-page-info-container > h1 {
    margin: 0 0 1em 0;
    padding: 0;
    color: black;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}

.producer-page-controls {
    padding: 1em 1.5em 1.5em;
    text-align: left;
}

.producer-page-controls button {
    margin-right: 1.5em;
    margin-top: 0.5em;
}

@media screen and (max-width: 767px) {
    .producer-page-info-container > h1 {
        display: flex;
        align-items: center;
        font-size: 1.375rem;
    }

    .producer-page-info-container > h1 > .back-link {
        display: block;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
    }

    .producer-page-info-container > h1 > .back-link .disclosure-arrow {
        transform: rotate(180deg);
    }

    .producer-page-info-container > h1 > .back-link .disclosure-arrow-border {
        stroke: var(--button-success-color);
    }

    .producer-page-info-container > h1 > span {
        padding-top: 0.25em;
    }

    .producer-page-controls {
        padding: 1em;
    }

    .producer-page-controls button {
        margin: 0.5em 0;
        width: 100%;
    }
}
