.profile-page {
    height: 100%;
    text-align: left;
    background-color: white;
    box-sizing: border-box;
    padding: var(--page-paddings);
}

.profile-page h1 {
    margin: 0;
}

.profile-page .profile-form {
    width: 55%;
    min-width: 37.5rem;
}

@media (max-width: 1024px) {
    .profile-page .profile-form {
        width: 100%;
        min-width: 100%;
    }
}
