.registration-form {
    position: relative;
}

.registration-form-steps {
    position: relative;
    z-index: 1;
}

.registration-form-content {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1em;
}

.wizard-content--with-shadow {
    box-shadow: 0 0.25em 1em rgba(217, 224, 229, 0.3);
}

.registration-form-field + .registration-form-field {
    margin-top: 3.5em;
}

.registration-form-label,
.registration-form-help-text {
    color: var(--label-color);
    font-size: 0.875rem;
    font-weight: 700;
}

.registration-form-help-text {
    display: block;
    width: 100%;
    font-size: 0.75rem;
    font-weight: 400;
}

.registration-form-help-text--sepa-approval {
    width: calc(100% - 2rem);
    margin: 0.8125rem 0 0 auto;
}

.registration-form-fieldset {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1rem;
}

.registration-form-fieldset::after {
    display: block;
    clear: both;
    width: 100%;
    content: '';
}

.registration-form-fieldset > legend {
    width: 100%;
    margin-bottom: 1.625em;
}

.registration-form-fieldset > div {
    float: left;
    width: 50%;
}

.registration-form-fieldset > div:only-of-type {
    width: 100%;
}

.registration-form-fieldset--phone > div:first-child {
    width: calc(35% - 1.5em);
}

.registration-form-fieldset--phone > div:last-child {
    float: right;
    width: 65%;
}

.text-field--phone-code .text-field-layout::after {
    width: 50%;
}

.text-field--phone-code .text-field-label {
    flex: 0 0 50%;
}
