.registration-form {
    position: relative;
}

.registration-form-steps {
    position: relative;
    z-index: 1;
}

.registration-form-content {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1em;
}

.wizard-content--with-shadow {
    box-shadow: 0 0.25em 1em rgba(217, 224, 229, 0.3);
}

.registration-form-field + .registration-form-field {
    margin-top: 3.5em;
}

.registration-form-label {
    color: var(--label-color);
    font-size: 0.875rem;
    font-weight: 700;
}

.registration-form-fieldset {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1rem;
}

.registration-form-fieldset::after {
    display: block;
    clear: both;
    width: 100%;
    content: '';
}

.registration-form-fieldset > legend {
    width: 100%;
    margin-bottom: 1.625em;
}

.registration-form-fieldset > div {
    float: left;
}

.registration-form-fieldset .radio-button {
    margin-right: 2em;
}

.registration-form-fieldset--phone > div:first-child {
    width: calc(35% - 1.5em);
}

.registration-form-fieldset--phone > div:last-child {
    float: right;
    width: 65%;
}

.registration-form-field.registration-bitcoin-message {
    margin: 0;
}

.registration-form-field.registration-bitcoin-message > strong {
    display: block;
    padding: 2em 0 0 2.833em;
    color: var(--label-color);
    font-size: 0.75em;
    font-weight: normal;
}

.text-field--phone-code .text-field-layout::after {
    width: 50%;
}

.text-field--phone-code .text-field-label {
    flex: 0 0 50%;
}

.text-field--phone .text-field-layout::after {
    width: 62%;
}

.text-field--phone .text-field-label {
    flex: 0 0 38%;
}
