.login-form {
    width: 100%;
    font-size: 1rem;
}

.username-field {
    margin-bottom: 3rem;
}

.password-field {
    margin-bottom: 2.375rem;
}

.reset-password-link {
    color: inherit;
    transition: color 0.2s ease-in;
    text-decoration: none;
}

.reset-password-link:hover,
.reset-password-link:focus {
    outline: none;
    color: white;
}

@media (max-width: 1023px) {
    .login-form button {
        width: 100%;
    }
}
