.offer-form {
    width: 100%;
    font-size: 1rem;
}

.offer-form-fields {
    max-width: 35.625rem;
}

.offer-form-field {
    box-sizing: border-box;
    margin-bottom: 3em;
    padding-left: 2em;
    width: 100%;
}

.offer-form-field--price-delta {
    padding: 0;
}

.offer-form-actions {
    display: flex;
    align-items: center;
    padding-left: 2em;
    min-height: 6rem;
    background: var(--app-bg-color);
}

.offer-form-delete-button {
    margin-left: 2em;
    outline: none;
    border: none;
    background: none;
    color: var(--label-color);
    font-weight: 700;
    font-size: 0.875em;
    cursor: pointer;
    transition: 200ms ease-in;

    appearance: none;
}

.offer-form-delete-button:hover {
    color: var(--button-hover-color);
}

.offer-form-delete-button:disabled {
    color: var(--label-color);
    opacity: 0.75;
    cursor: not-allowed;
}

.offer-form-delete-button .svg-inline--fa {
    margin-right: 0.5em;
    color: var(--emerald-color);
    font-size: 1.428em;
    transition: inherit;
}

.offer-form-delete-button:hover .svg-inline--fa {
    color: var(--button-hover-color);
    transform: scale(1.1);
}
