.disclosure-arrow {
    position: relative;
    box-sizing: border-box;
    padding: 0.15em 0.6em 0 0.7em;
    width: 3.4em;
    height: 3.4em;

    background: white;
    border: 0.133em solid var(--disclosure-arrow-border-color);
    border-radius: 100%;
    color: var(--button-primary-color);

    font-size: 0.7rem;
    line-height: 3.4em;
    text-align: center;

    transition: 0.2s ease-in;
    cursor: pointer;
    outline: none;
    appearance: none;
}

.disclosure-arrow:hover,
.disclosure-arrow.expanded {
    border-color: var(--disclosure-arrow-hover-color);
    color: var(--disclosure-arrow-hover-color);
}

.disclosure-arrow.expanded {
    transform: rotate(90deg);
    padding-left: 0.8em;
}
