.disclosure-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
    font-size: 0.7rem;
    padding-left: 0.75em;
    width: 3.4em;
    height: 3.4em;
    border-radius: 50%;
    color: var(--button-primary-color);
    border: 0.133em solid var(--disclosure-arrow-border-color);
    transition: 0.2s transform ease-in, 0.2s color ease-in, 0.2s border-color ease-in;
    outline: none;
    appearance: none;
}

.disclosure-arrow > svg {
    vertical-align: top;
    text-align: center;
}

.disclosure-arrow:hover,
.disclosure-arrow.expanded {
    border-color: var(--disclosure-arrow-hover-color);
    color: var(--disclosure-arrow-hover-color);
}

.disclosure-arrow.expanded {
    transform: rotate(90deg);
    padding-left: 0.85em;
}
