.nav-card-container {
    --transitionDuration: 0.2s;
    --transitionFunction: ease-in;
    padding: 2.125rem 0 1.625rem;
    flex-basis: 19rem;
    min-width: 10rem;
    border-radius: 0.25rem;
    background: white;
    cursor: pointer;
    transition: var(--transitionDuration) var(--transitionFunction);
}

.nav-card-container:hover {
    color: white;
    background-color: var(--navigateTextColor);
}

.nav-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-card-title-container {
    margin: 2rem 0 0;
}

.nav-card-title {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

.nav-card-container svg .fillArea {
    transition: var(--transitionDuration) var(--transitionFunction);
}

.nav-card-container svg .strokeLine {
    transition: var(--transitionDuration) var(--transitionFunction);
}

.nav-card-container:hover svg .fillArea {
    opacity: 0.3;
    fill: white;
}
.nav-card-container:hover svg .strokeLine {
    stroke: white;
}
