.my-producer-page-info-container {
    padding: var(--page-paddings);
    background: white;
}

.my-producer-page-info-container > h1 {
    margin: 0 0 1em 0;
    padding: 0;
    color: black;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}

.my-producer-page-controls {
    display: flex;
    padding: 1.5em;
    text-align: left;
}

a.my-producer-switch-back {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 3em;

    color: var(--link-color);

    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
}

a.my-producer-switch-back > svg {
    margin: 0 0.45em 0 0;
    color: var(--button-success-color);
    font-size: 1.25rem;
    line-height: 1.5;
}

a.my-producer-switch-back > span {
    margin-top: 0.25em;
}

a.my-producer-switch-back:hover > span {
    color: var(--general-text-color);
    transition: color 0.3s ease-in;
}

a.my-producer-switch-back:hover > svg {
    transform: scale(1.1);
    color: var(--button-hover-color);
    transition: 0.2s ease-in;
}
