.my-producer-page-info-container {
    padding: var(--page-paddings);
    background: white;
}

.my-producer-page-info-container > h1 {
    margin: 0 0 1em 0;
    padding: 0;
    color: black;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}

.my-producer-page-controls {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 1.5em 1em;
    text-align: left;
}

.my-producer-page-controls button {
    margin: 0.5em 1.5em 0.5em 0;
}
