.header-button-container {
    position: relative;
    width: 7em;
    height: var(--menu-icon-size);
    border-left: var(--border-width) solid var(--navigation-bg-color);
    background-color: var(--bar-color);
}

.header-button {
    padding: 0;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 1.5rem;
}

.header-button:focus {
    outline: none;
}

.header-button-icon-container {
    position: relative;
}

.header-button:hover {
    color: var(--hover-icon-color);
}

.header-button:hover .header-button-icon-container svg {
    transform: scale(1.2);
    transition: 0.2s;
}

.has-indicator::after {
    content: '';
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--hover-icon-color);
}
