.header-button-container {
    position: relative;
    width: 6.94rem;
    height: var(--menuIconSize);
    border-left: var(--borderWidth) solid var(--navigateTextColor);
    background-color: var(--barColor);
}

.header-button {
    padding: 0;
    display: block;
    background-color: inherit;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 1.5rem;
}

.header-button:focus {
    outline: none;
}

.header-button-icon-container {
    position: relative;
}

.has-indicator::after {
    content: '';
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #48d376;
}
