.header-desktop {
    width: 100%;
    box-shadow: 0 0.25rem 2rem 0 rgba(217,224,229,0.5);
    display: flex;
    justify-content: space-between;
    background-color: #051A2D;
}

.header-buttons {
    display: flex;
}
