.header-desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.375rem;
    background-color: #051a2d;
    box-sizing: border-box;
}

.header-buttons {
    display: flex;
}
