.wattcoin-table-container {
    margin: 2.5em 0;

    color: var(--table-text-color);
    background: white;
    box-shadow: var(--main-boxes-shadow);
    border-radius: 0.25em;
}

.wattcoin-table-container div[role='table'] {
    display: flex;
    width: 100%;
}

.wattcoin-table-container div[role='rowgroup']:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.wattcoin-table-container div[role='rowgroup']:last-child {
    width: 55%;
    border-left: var(--border-width) solid var(--border-on-light-color);
}

.wattcoin-table-container div[role='rowgroup']:last-child div[role='row']:last-child {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.wattcoin-table-container #wattcoin-table-caption {
    display: block;
    width: 100%;
    padding-top: 1.45em;
    padding-bottom: 1.3em;

    color: black;
    border-bottom: var(--border-width) solid var(--border-on-light-color);

    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.45;
}

.wattcoin-table-container div[role='cell'] {
    box-sizing: border-box;
    min-height: 4.7rem;
    text-align: center;
}

.wattcoin-table-textual-info {
    padding: 1.25em;
}

.wattcoin-table-textual-info .wattcoin-table-value,
.wattcoin-table-textual-info .wattcoin-table-label {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
}

.wattcoin-table-count-info .wattcoin-table-label,
.wattcoin-table-textual-info .wattcoin-table-label {
    color: var(--table-label-color);
}

.wattcoin-table-count-info {
    flex: 1 1 auto;
    padding: 1.25em 0;
}

.wattcoin-table-count-info + .wattcoin-table-count-info > div {
    border-left: var(--border-width) solid var(--border-on-light-color);
}

.wattcoin-table-count-info .wattcoin-table-label {
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.5;
}

.wattcoin-table-count-info .wattcoin-table-value {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5;
}

.wattcoin-table-total-info {
    background: var(--table-total-cell-bg-color);
    border-bottom: var(--border-width) solid var(--border-on-light-color);
}

.wattcoin-table-total-info > span {
    display: inline-block;
    padding: 1rem 0 0.5rem;
    margin: 0 3.25em;
}

.wattcoin-table-total-info .wattcoin-table-label {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.45;
}

.wattcoin-table-total-info .wattcoin-table-value {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.45;
}

.wattcoin-table-total-info .wattcoin-table-label::after,
.wattcoin-table-textual-info .wattcoin-table-label::after {
    margin-right: 0.3rem;
    content: ':';
}

.wattcoin-table-more-button {
    margin: 0.5em 1em;
}

@media (max-width: 767px) {
    .wattcoin-table-container div[role='table'] {
        flex-direction: column;
    }

    .wattcoin-table-container #wattcoin-table-caption {
        padding: 1rem 0;
        font-size: 1.125rem;
    }

    .wattcoin-table-container div[role='rowgroup']:first-child,
    .wattcoin-table-container div[role='rowgroup']:last-child {
        width: 100%;
    }

    .wattcoin-table-container div.wattcoin-table-textual-info {
        display: flex;
        flex-direction: column;
    }

    .wattcoin-table-container div.wattcoin-table-textual-info .wattcoin-table-label::after {
        content: '';
    }

    .wattcoin-table-textual-info .wattcoin-table-value,
    .wattcoin-table-textual-info .wattcoin-table-label {
        font-size: 0.875rem;
        font-weight: 500;
    }

    .wattcoin-table-total-info .wattcoin-table-value,
    .wattcoin-table-total-info .wattcoin-table-label {
        font-weight: 500;
    }

    .wattcoin-table-count-info {
        padding: 1em 0;
    }

    .wattcoin-table-count-info + .wattcoin-table-count-info > div {
        border: none;
    }

    .wattcoin-table-count-info .wattcoin-table-label {
        font-size: 0.625rem;
        font-weight: 500;
    }

    .wattcoin-table-count-info .wattcoin-table-value {
        font-weight: 500;
    }
}
