.menu-side-bar {
    width: 20.5rem;
    height: calc(100% - var(--borderWidth));

    background: transparent
        linear-gradient(to right, var(--barColor), var(--barColor)) no-repeat;
    background-size: var(--menuIconSize) 100%;
    border-right: var(--borderWidth) solid var(--borderOnLightColor);
}

.menu-side-bar .menu-item-label {
    border-bottom: var(--borderWidth) solid var(--borderOnLightColor);
}

.menu-side-bar .menu-item-icon {
    border-bottom: var(--borderWidth) solid var(--borderOnDarkColor);
}

.active .menu-item-label {
    border-bottom: var(--borderWidth) solid transparent;
}
.menu-item:hover .menu-item-label {
    border-bottom: var(--borderWidth) solid var(--navigateTextColor);
}

/* TODO remake to mobile-first, move values to common variables */
@media screen and (max-width: 768px) {
    .menu-side-bar {
        width: var(--menuIconSize);
    }

    .menu-side-bar .menu-item-label {
        display: none;
    }
}
