.menu-item,
.menu-item-icon,
.menu-item-label {
    display: flex;
    align-items: center;
}

.menu-item {
    justify-content: flex-start;
    width: 100%;

    color: var(--navigateTextColor);
    background: white;

    cursor: pointer;
}

.active {
    color: white;
    background: var(--activeColor);
    transition: 0.4s ease-in;
}

.menu-item-icon {
    justify-content: center;
    width: var(--menuIconSize);
    height: var(--menuIconSize);

    color: white;
    background: var(--barColor);

    font-size: 1.5rem;
    line-height: 1em;
    text-align: center;
}

.menu-item:hover .menu-item-icon svg {
    transform: scale(1.2);
    transition: 0.2s;
}

.menu-item-label {
    position: relative;

    justify-content: flex-start;
    width: calc(100% - var(--menuIconSize));
    height: var(--menuIconSize);

    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4em;
    text-align: left;
    text-transform: uppercase;
}

.menu-item:hover .menu-item-label {
    background: var(--navigateTextColor);
    color: white;
    transition: 0.2s;
}

.menu-item-label span {
    padding-left: 2rem;
    padding-top: 0.25rem;
    user-select: none;
}

.active .menu-item-label::before {
    --hypotenuseHalf: 0.5rem;

    position: absolute;
    left: 0;
    top: calc(50% - var(--hypotenuseHalf));

    width: 0;
    height: 0;
    border-top: var(--hypotenuseHalf) solid transparent;
    border-left: var(--hypotenuseHalf) solid white;
    border-bottom: var(--hypotenuseHalf) solid transparent;

    content: '';
}
