.energy-amount-graph {
    position: relative;
    min-width: 450px;
    margin: 1.625em 0;
    padding: 1em 0;
    background: white;
    box-shadow: 0 0.25em 1em 0 rgba(217, 224, 229, 0.3);
    border-radius: 0.25em;
    text-align: center;
}

.energy-amount-graph figcaption {
    margin: 0;
}

.energy-amount-graph .graph {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12em;
    max-height: 12em;
    width: calc(100% - 4em);
}

.energy-amount-graph h1,
.energy-amount-graph h2 {
    margin: 0.4em;
    line-height: 1.5;
    text-align: center;
}

.energy-amount-graph h1 {
    color: black;
    font-size: 1.375rem;
    font-weight: 600;
}

.energy-amount-graph h2 {
    color: var(--linkColor);
    font-size: 0.875rem;
    font-weight: bold;
}
