.profile-form {
    font-size: 1rem;
    padding: 3em 0 3.5em;
    position: relative;
}

.profile-form .text-field {
    margin: 3.5em 0;
}

.profile-form .text-field:first-child {
    margin-top: 0;
}

.profile-form .text-field:last-child {
    margin-bottom: 0;
}

.profile-form .text-field-label {
    font-size: 0.875rem;
}

.profile-form .text-field-input {
    font-size: 1.125rem;
}

.profile-form .change-password-container {
    margin-top: 5em;
}

.profile-form .button-container {
    margin-top: 3.5em;
}

.profile-form .date-of-birth-wrapper {
    position: relative;
}

@media (max-width: 767px) {
    .profile-form {
        padding: 2.5em 0;
    }

    .profile-form .date-picker {
        width: 16.5rem;
    }

    .profile-form .text-field {
        margin: 2.375em 0;
    }

    .profile-form .change-password-container {
        margin-top: 3em;
    }

    .profile-form .button-container {
        margin-top: 2.5em;
    }

    .profile-form .button {
        width: 100%;
    }
}
