.option-links {
    display: flex;
    width: 100%;
}

.option-links > a {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    box-sizing: border-box;
    min-height: 3rem;
    border-right: var(--border-width) solid var(--option-link-border-color);
    border-bottom: var(--border-width) solid var(--option-link-border-color);
    background: var(--option-link-bg-color);
    color: var(--option-link-color);
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.875rem;
    transition: 200ms ease-in;
}

.option-links > a:last-child {
    border-right: none;
}

.option-links > a:hover {
    background: var(--option-link-hov-bg-color);
    color: var(--option-link-hov-color);
}

.option-links > a:focus {
    outline: var(--focused-control-outline);
}

/*.option-links > a:focus:not(:focus-visible) {*/
    /*outline: none;*/
/*}*/

.option-links > a > span {
    margin-bottom: -0.25em;
    color: inherit;
}

@media (max-width: 767px) {
    .option-links {
        flex-direction: column;
    }

    .option-links > a {
        border-right: none;
    }
}
