.sell-energy-page {
    position: relative;
    background: white;
    color: black;
    text-align: left;
}

.sell-energy-page > h1 {
    margin: 0;
    padding: var(--page-paddings);
    padding-bottom: 1.5rem;
    font-size: 1.625em;
}

.sell-energy-page > h1 > .back-link {
    display: none;
}

.sell-energy-page-offers {
    padding: var(--page-paddings);
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.sell-energy-page-offers > h2 {
    margin: 0;
    font-size: 1.125em;
}

@media (max-width: 767px) {
    .sell-energy-page > h1 {
        display: flex;
        align-items: center;
        padding: 1rem 1rem 1.5rem;
        font-size: 1.375em;
    }

    .sell-energy-page > h1 > .back-link {
        display: inline-block;
        margin-right: 1rem;
    }

    .sell-energy-page > h1 > span {
        padding-top: 0.225em;
    }
}

@media (max-width: 639px) {
    .offers-slider--full-width {
        margin: 0 -1em;
    }
}
