.app-footer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 0 2em;
    min-height: 5.5em;
    border-top: var(--border-width) solid var(--border-on-light-color);
    background: white;
}

.app-footer nav a,
.app-footer address {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-size: 0.875rem;
    font-family: inherit;
    line-height: 1.5;
}

.app-footer address {
    flex: 1.25;
    color: var(--label-color);
    text-align: left;
}

.app-footer nav {
    display: flex;
    align-items: stretch;
    flex: 1;
    justify-content: flex-end;
}

.app-footer nav a {
    position: relative;
    margin: 0 1em;
    outline: none;
    color: var(--link-color);
}

.app-footer nav a::before {
    position: absolute;
    top: 0;
    width: 0;
    height: 0.15em;
    background: var(--active-item-color);
    content: '';
}

.app-footer nav a:hover {
    color: var(--general-text-color);
    transition: color 0.2s ease-in;
}

.app-footer nav a.footer-item--active {
    color: var(--label-color);
}

.app-footer nav a.footer-item--active::before {
    width: 100%;
    transition: 0.2s ease;
}

@media screen and (max-width: 768px) {
    .app-footer {
        flex-direction: column-reverse;
    }

    .app-footer address {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .app-footer nav {
        justify-content: center;
    }
}
