.app-footer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 5.5em;
    padding: 0 2em;

    background: white;
    border-top: var(--borderWidth) solid var(--borderOnLightColor);
}

.app-footer nav a,
.app-footer address {
    display: flex;
    align-items: center;

    font: normal bold 0.875rem /1.5em 'Artegra Sans Alt';
    text-decoration: none;
}

.app-footer address {
    flex: 1.25;
    color: var(--labelColor);
    text-align: left;
}

.app-footer nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.app-footer nav a {
    position: relative;
    outline: none;
    margin: 0 1em;
    color: var(--linkColor);
}

.app-footer nav a::before {
    position: absolute;
    top: 0;
    width: 0;
    height: 0.15em;
    background: var(--activeColor);
    content: '';
}

.app-footer nav a:hover {
    color: var(--navigateTextColor);
    transition: color 0.2s ease-in;
}

.app-footer nav a.footer-item--active {
    color: var(--labelColor);
}

.app-footer nav a.footer-item--active::before {
    width: 100%;
    transition: 0.2s ease;
}
