.offer-card {
    font-size: 1rem;
    width: 19em;
    background-color: white;
    border-radius: 0.25em;
    box-shadow: 0 0.25em 1em 0 var(--offer-card-box-shadow);
}

.offer-card-header {
    display: flex;
    justify-content: space-between;
}

.offer-card .period-info-container {
    position: relative;
}

.offer-card .edit-button-container {
    font-size: 0.875rem;
    padding: 1.6em 2.3em 0 0;
}

.offer-card .edit-button {
    color: var(--general-text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 0;
    transition: color 0.2s ease-in;
}

.offer-card .edit-button:focus {
    outline: none;
}

.offer-card .offer-id {
    position: relative;
    left: 0;
    top: 0;
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--label-color);
    height: 2.6em;
    width: 2.6em;
    border-radius: 0.29em 0 0 0;
    box-shadow: inset -0.07em -0.07em 0.36em 0 rgba(0, 0, 0, 0.03);
}

.offer-card .period-info {
    font-size: 1.125rem;
    margin: 1.4em 0;
    text-align: center;
    color: var(--general-text-color);
    font-weight: 600;
}

.offer-card .period-info span {
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.offer-card .edit-button:hover,
.offer-card .period-info span:hover {
    color: var(--button-hover-color);
}

.offer-card-footer {
    display: flex;
    font-size: 1rem;
    padding: 1em 2em;
    justify-content: space-between;
    box-shadow: 0 -0.25em 1em 0 var(--offer-card-box-shadow);
    border-radius: 0 0 0.25em 0.25em;
}

.offer-card-footer .price-container {
    font-size: 0.875rem;
    color: var(--offer-card-price-color);
    font-weight: 500;
}

.offer-card-footer .price {
    font-size: 1rem;
    color: black;
    font-weight: 500;
}

.offer-card-footer .energy-type {
    font-size: 0.875rem;
    color: var(--offer-card-energy-type-color);
    text-transform: uppercase;
    font-weight: 600;
}
