.app {
    min-width: 45rem;
    height: 100%;
}

.content {
    display: flex;
    height: calc(100% - var(--menu-icon-size));
}

#main-container {
    position: relative;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    width: 100%;
    background-color: var(--app-bg-color);
    color: var(--general-text-color);
    text-align: center;
}

#main-container main {
    flex: 1 1 auto;
}

.menu-container {
    width: auto;
    height: 100%;
}
