.app {
    height: 100%;
}

.content {
    height: calc(100% - 4.5rem);
    display: flex;
}

.app main {
    width: 100%;
    color: var(--navigateTextColor);
    text-align: center;
    background-color: #f0f4f7;
}

.nav-cards-container {
    display: flex;
    justify-content: space-around;
}

.menu-container {
    width: auto;
    height: 100%;
}
