.app {
    height: 100%;
    min-width: 55rem;
}

.content {
    display: flex;
    height: calc(100% - var(--menu-icon-size));
}

#main-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;

    color: var(--general-text-color);
    background-color: var(--app-bg-color);

    text-align: center;
}

#main-container main {
    flex: 1;
}

.menu-container {
    width: auto;
    height: 100%;
}
