.auth-screen {
    display: flex;
    align-items: center;
    padding-right: calc(50% - 41rem);
    padding-left: calc(50% - 36rem);
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: #051a2d;
}

.auth-screen > .auth-screen-actions,
.auth-screen > .auth-screen-hero {
    box-sizing: border-box;
    width: 100%;
}

.auth-screen-actions {
    padding: 0 2rem;
    max-width: 37rem;
}

.auth-screen-hero {
}
