body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;

    /* Color Schema */
    --fromColor: #2c6177;
    --toColor: #041a2d;

    --barColor: #051a2d;
    --activeColor: #30acc1;
    --navigateTextColor: #1e577b;
}

body,
html,
#root,
#routes {
    width: 100%;
    height: 100%;
}
