@import 'fonts.css';
@import '~normalize.css/normalize.css';

body {
    margin: 0;
    padding: 0;
    font-family: 'Artegra Sans Alt', Helvetica, sans-serif;

    /* Common sizes */
    --menuIconSize: 4.5rem;
    --borderWidth: 0.06rem;

    /* Color Schema */
    --fromColor: #2c6177;
    --toColor: #041a2d;

    --barColor: #051a2d;
    --activeColor: #30acc1;
    --navigateTextColor: #1e577b;
}

body,
html,
#root,
#routes,
#app-layout {
    width: 100%;
    height: 100%;
}
