.wizard-content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 54em;
    border-radius: 0.25em;
    background: white;
    font-size: 1rem;
}

.wizard-content-body,
.wizard-content-actions {
    box-sizing: border-box;
    width: 100%;
    max-width: 36em;
    margin: 0 auto;
    padding: 0 1em;
}

.wizard-content-body {
    padding-top: 3em;
    padding-bottom: 4em;
}

.wizard-content-title {
    margin: 0 0 1.538em;
    color: var(--general-dark-text-color);
    text-align: center;
    font-size: 1.625em;
    line-height: 1;
}

.wizard-content-subtitle {
    margin: 0 0 2em;
    color: var(--general-dark-text-color);
    text-align: center;
    font-size: 1.375em;
    font-weight: 500;
}

.wizard-content-actions-wrapper {
    padding: 1.5em 0;
    border-radius: 0.25em;
    background: #f1f5f7 linear-gradient(to bottom, #f1f5f7, white);
}

.wizard-content-actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.wizard-content-back-button {
    display: inline-flex;
    align-items: center;
    width: auto;
    padding: 0;
    color: #809dad;
    cursor: pointer;
    text-shadow: none;
    border: none;
    background: none;
    box-shadow: none;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1;
    appearance: none;
}

.wizard-content-back-button:focus {
    outline: var(--focused-control-outline);
}

.wizard-content-back-button:focus:not(:focus-visible) {
    outline: none;
}

.wizard-content-back-button > .svg-inline--fa {
    color: #48d376;
    font-size: 1.428em;
}

.wizard-content-back-button > span {
    box-sizing: border-box;
    padding: 0.25em 0 0 0.5em;
}
