.buy-energy-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.buy-energy-page-header,
.buy-energy-page-filters,
.buy-energy-page-producers {
    box-sizing: border-box;
    padding: 2rem 1.5rem 2rem 2rem;
    width: 100%;
}

.buy-energy-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.buy-energy-page-header > * {
    margin: 0;
    padding: 0;
}

.buy-energy-page-header > h1 {
    margin: 0;
    font-weight: 700;
    font-size: 1.625em;
}

.buy-energy-page-header > h2 {
    margin: 0;
    color: var(--label-color);
    font-weight: 600;
    font-size: 1.375em;
}

.buy-energy-page-header > h2 > strong {
    color: var(--general-text-color);
    font-weight: inherit;
}

.buy-energy-page-filter {
    padding: var(--page-paddings);
    padding-bottom: 1rem;
    border-top: var(--border-width) solid var(--geyser-color);
    border-bottom: var(--border-width) solid var(--geyser-color);
    background: #e9eef2;
}

.buy-energy-page-producers {
    box-sizing: border-box;
    padding-bottom: 0;
}

.producer-filter {
    display: flex;
    width: 100%;
    color: black;
    font-size: 1rem;
}

.producer-filter-label {
    padding-right: 2.5em;
}

.producer-filter-label > strong {
    white-space: nowrap;
    line-height: 2.5;
}

.producer-filter-options {
    display: flex;
    flex-wrap: wrap;
}

.producer-filter-option {
    margin-right: 1em;
    margin-bottom: 1em;
}

.producer-filter-option:last-child {
    margin-right: 0;
}
