.offers-slider-layout {
    position: relative;
    padding: 0 2em;
}

.offers-slider-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.offers-slider-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    transition-property: transform;
}

.offers-slider-slide {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    height: 100%;
    transition-property: transform;
}

.offers-slider-control {
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    margin-top: -1rem;
    padding-top: 0.2em;
    width: 2rem;
    height: 2rem;
    outline: none;
    border: none;
    background: none;
    color: var(--slider-control-color);
    font-size: 1.125em;
    cursor: pointer;
    transition: 200ms ease-in;

    appearance: none;
}

.offers-slider-control--prev {
    left: 0;
    padding-left: 0.2em;
}

.offers-slider-control--next {
    right: 0;
    padding-right: 0.2em;
}

.offers-slider-control--disabled {
    opacity: 0.4;
}

.offers-slider-pagination,
.offers-slider-pagination.swiper-pagination-lock {
    display: none;
}

@media (max-width: 860px) {
    .offers-slider-pagination {
        justify-content: flex-start !important;
    }
}

@media (min-width: 640px) {
    .offers-slider-layout {
        padding: 0;
    }

    .offers-slider-control {
        display: none;
    }

    .offers-slider-pagination {
        position: relative;
        display: flex;
        overflow: hidden;
        justify-content: center;
        padding: 1em 0 0;
    }

    .offers-slider-pagination::after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 2em;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.1), white);
        content: '';
    }

    .offers-slider-bullet {
        flex: 0 0 0.625em;
        margin: 0 0.25em;
        width: 0.625em;
        height: 0.625em;
        outline: none;
        border-radius: 50%;
        background: var(--slider-bullet-color);
    }

    .offers-slider-bullet--active {
        background: var(--slider-active-bullet-color);
    }

    .offers-slider-pagination--clickable > .offers-slider-bullet {
        cursor: pointer;
    }
}
